.home-page-parent{
    font-family: "shitfont" !important;
    height: 100vh !important;
    width: 100vw !important;
    .nav-bar{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 70px;
        padding-right: 70px;
        align-items: center;
        .nav-bar-right{
            img{
                // margin-top: 30px;
                margin-right: 40px;
                
                width: 40px;
                height: 40px;
            }
        }
    }
    .home-body{
        .is-live{
            font-size: 55px;
        margin-top: -70px;
            transform: rotate(350deg);
        }
        .holy-image{
            margin-top: -100px;
            width: 600px;
            // width: calc(100vw - 750px) ;
        }
        .shit-button{
            width: 230px;
            margin-top: -40px;
        }
        .count{
            font-size: 40px;
            margin-top: -1px;
            padding-top: 15px;
          
        }
    }
}
.center-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.pointer{
    cursor: pointer;
}


@media screen and (max-width: 498px) {
    .nav-bar{
        width: 100% !important;
        padding-top: 20px !important;
        padding-left: 15px !important;
        padding-right: 10px !important;
    }
    .home-body {
        .holy-image {
            // width: calc(100vw - 40px) !important; 
            width: 100% !important;
        }
        .is-live{
            font-size: 40px !important;
            padding-bottom: 20px !important;
            padding-top: 20px !important;
        }
    }
}